body {
  margin:0;
  padding:0;
  background-color: #187ad9;
}
#app-cont-1 {
  text-align: center;
}
#app-h1 {
  color:white;
}
#app-user-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
